---
import Login from '../components/Login.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout >
    <h1 class="absolute text-5xl md:text-6xl text-center mx-auto">Kardex de <strong>[Empresa]</strong></h1>
    <Login />
</Layout>

