---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <main class="w-full max-w-3xl h-full min-h-screen mx-auto flex justify-center items-center">
        <section class="w-[90%] h-full max-h-3/5 lg:max-w-3xl md:max-h-80 m-auto grid place-content-center relative z-10 p-4 gap-8 rounded">
            <h1 class="text-5xl md:text-6xl text-center">Kardex de <strong>[Empresa]</strong></h1>
            <Navbar />
        </section>
    </main>
</Layout>

<style>
    section {
        background-color: rgba(245, 245, 245, .3);
        color: #333;
        backdrop-filter: blur(5px);
    }
</style>
