---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Kardex de" strongTitle="[Empresa]">
    <h2 class="absolute text-5xl md:text-6xl text-center mx-auto pt-4">Menú del <strong>KARDEX</strong></h2>
    <Navbar />
</Layout>

