

    <form class="w-full max-w-3xl h-full min-h-screen mx-auto flex justify-center items-center">
        <section class="w-[90%] h-full max-h-3/5 lg:max-w-3xl md:max-h-80 m-auto grid place-content-center relative z-10 p-4 gap-8 rounded">
            
        </section>
    </form>