---
import ItemNav from "./ItemNav.astro";
---

<nav class="w-full h-full relative z-10 flex justify-center">
    <ul class="w-full h-auto absolute grid top-32 gap-4">
        <ItemNav href="/Ingresar" text="Ingresar Trasancción" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-table-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" /><path d="M3 10h18" /><path d="M10 3v18" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
        </ItemNav>
        <ItemNav href="/Modificar" text="Modificar Producto" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-database-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6c0 1.657 3.582 3 8 3s8 -1.343 8 -3s-3.582 -3 -8 -3s-8 1.343 -8 3" /><path d="M4 6v6c0 1.657 3.582 3 8 3c.478 0 .947 -.016 1.402 -.046" /><path d="M20 12v-6" /><path d="M4 12v6c0 1.526 3.04 2.786 6.972 2.975" /><path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z" /></svg>
        </ItemNav>
        <ItemNav href="/BaseFIFO" text="Base FIFO" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-stocktwits"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 3l-8 4.5l8 4.5" /><path d="M8 12l8 4.5l-8 4.5" /></svg>
        </ItemNav>
        <ItemNav href="/BasePromedio" text="Base Promedio" >
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-dotted-letter-p"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12h2a2 2 0 1 0 0 -4h-2v8" /><path d="M7.5 4.21v.01" /><path d="M4.21 7.5v.01" /><path d="M3 12v.01" /><path d="M4.21 16.5v.01" /><path d="M7.5 19.79v.01" /><path d="M12 21v.01" /><path d="M16.5 19.79v.01" /><path d="M19.79 16.5v.01" /><path d="M21 12v.01" /><path d="M19.79 7.5v.01" /><path d="M16.5 4.21v.01" /><path d="M12 3v.01" /></svg>
        </ItemNav>
    </ul>
</nav>

<style>
    ul {
        grid-auto-rows: 96px;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 7.5rem), 1fr));
    }
</style>